@media (max-width: 1750px) {


    /*footer */
    .footer-body .contact {
        grid-template-columns: auto auto;
    }

    #icon-yutdom .icon {
        margin-right: 30px;
    }

    #brevis-work {
        margin-left: 30px;
    }
}


@media (max-width: 1550px) {

    /* swiper*/
    .description-info span:nth-child(3) {
        display: none;
    }

    /*footer */
    .footer {
        padding: 68px 0;
    }

    #icon-yutdom .address {
        display: none;
    }

    #icon-yutdom .icon {
        margin-right: 20px;
    }

    #brevis-work {
        margin-left: 20px;
    }
}

@media (max-width: 1500px) {

    /*header */
    #header-text-logo {
        font-size: 28px;
        line-height: 36px;
    }

    .header .phone-number {
        font-size: 36px;
        line-height: 36px;
    }
}

@media (max-width: 1430px) {

    /*header*/
    #header-text-logo {
        font-size: 24px;
        line-height: 32px;
    }

    .header .phone-number {
        font-size: 32px;
        line-height: 32px;
    }

    #logo-img {
        width: 150px;
        height: 150px;
    }
}


@media (max-width: 1300px) {

    /*swiper чтоб столбцы стали в другой пропорции*/
    .bloc-info {
        grid-template-columns: 1.5fr 1fr;
    }


    /*footer */
    .footer-body {
        gap: 10px;
    }

    #icon-yutdom .icon {
        margin-right: 8px;
    }

    .brevis-work {
        margin: 0;
        padding: 0;
    }

    .services {
        gap: 16px;
    }
}


@media (max-width: 1250px) {

    /*header*/
    #logo-img {
        width: 120px;
        height: 120px;
        align-self: center;
    }
}

@media (max-width: 1200px) {


    /*footer */
    .footer {
        padding: 24px 0;
    }

    .footer-body {
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
    }

    .footer-body .contact {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .up-btn {
        display: none;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
    }

    .newspart {
        gap: 16px;
    }

}


@media (max-width: 1110px) {
    main {
        width: 100%;
    }

    /*right-me*/
    .rigth-menu{
       visibility: visible;
    }
    
    /*header*/

    #logo-img {
        width: 80px;
        height: 80px;
    }


    .header {
        height: 160px;
    }

    #header-text {
        box-sizing: border-box;
        margin: 0;
        padding: 24px 16px;
        height: 100%;
        width: 100%;
        align-items: start;
    }

    .header .contact {
        justify-self: center;
    }

    #header-text-logo {
        font-size: 16px;
        line-height: 24px;

    }

    .header .phone-number {
        font-size: 24px;
        line-height: 32px;
    }

    .header .whatsapp {
        margin-top: 16px;
    }

    .header .menu {
        display: block;
        margin-left: auto;
    }


    /*navigation close*/
    .navigation {
        display: none;
    }

    /*swiper-part закрываем 2 абзац:) */

    .info {
        padding: 0 16px;
    }
    .description-info span:nth-child(2) {
        display: none;
    }

    .bloc-info {
        grid-template-columns: 1fr 1fr;
    }

    .paidservices {
        height: fit-content;
    }

    .paidservices .info-title,
    .paidservices .services {
        padding: 0 16px;
    }

    .news-block {
        margin: 80px 16px;
    }

    .messages {
        padding: 0 16px;
        width: 100%;
        box-sizing: border-box;
    }


}

@media (max-width: 900px) {
    .news {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .news-block {
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .newspart .button-orange {
        margin-top: 40px;
    }
}


@media (max-width: 860px) {

    /* message*/
    .message {
        height: 912px;
    }

    .messages {
        gap: 16px;
        padding-top: 56px;
        padding-bottom: 64px;
    }


    #first-row,
    #second-row {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0;
        padding: 0;
    }

    /*footer */
    .footer {
        height: 128px;
    }

    .footer-body {
        margin: 0 auto;
        justify-content: space-around;
    }

    .footer-body .contact,
    #contact-dispetcher,
    .telegram-icon {
        display: none;
    }

    #icon-yutdom .address {
        display: block;
    }
}

@media (max-width: 832px) {

    /*header*/
    .header {
        height: 160px;
    }


    /*footer */
    .footer-body {
        margin: 0 auto;
        justify-content: space-around;
    }
}

@media (max-width: 750px) {

    /*header */
    .header .contact {
        display: none;
    }

    .header {
        height: 128px;
    }

    #header-text,
    #header-text-logo {
        height: 100%;
        align-items: center;
        padding: auto 0;

    }

    /*swiper без колонок*/
    .info {
        margin-top: 56px;
        margin-bottom: 42px;
    }

    .bloc-info {
        display: block;
    }

    .gramota {
        margin-top: 40px;
    }

    .news-block {
        margin-top: 56px;
        margin-bottom: 56px;
    }

}

@media (max-width: 600px) {

    /*footer */
    #icon-yutdom .address {
        display: none;
    }

}



@media (max-width: 550px) {

    .services {
        display: flex;
        flex-direction: column;
    }

}