.header {
    height: 320px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
}

.header-information {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 100, 107, 0.64);
}

#header-text {
    height: 192px;
    width: 80%;
    margin: 56px auto;
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 518px;
    height: 100%;
    display: flex;
    gap: 32px;

}

#logo-img {
    width: 192px;
    height: 192px;

}

#header-text-logo {
    width: 293px;
    height: 80px;
    font-family: Akrobat;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);

}
.contact{
    color: rgba(255, 255, 255, 1);
}
.number{
    width: 100%;
    display: flex;
    gap: 32px;
}

.phone{
    display: flex;
}

.whatsapp {
    margin-top: 32px;
    display: flex;
    gap: 4px;
}

.whatsapp-img {
    height: 32px;
    width: 32px;
}



@media (max-width: 832px) {
    .header {
        height: 160px;
    }
}