.navigation {
    position: relative;
    margin-top: 40px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    border-radius: 32px;
    border: 0px;
    background-color: rgba(25, 100, 107, 1);
}

.navigation .dropdown,
.navigation .navigation-btn {
    display: block;
    flex-grow: 1;
    box-sizing: border-box;
    max-width: 100%;
}

.navigation .navigation-btn {
    background-color: transparent;
    border: 0px;
    border-right: solid 1px rgba(255, 255, 255, 0.32);
    color: rgba(255, 255, 255, 0.48);
    font-family: Akrobat;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.navigation .navigation-btn:hover,
.navigation .navigation-btn:hover #list-icon {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}



.navigation .dropdown-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.navigation #list-icon {
    width: 6;
    height: 4;
    padding: 0;
    padding-left: 2px;
    color: rgba(255, 255, 255, 0.48);
}

.navigation .buy {
    padding: 8px 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
    font-family: Calibri;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.navigation .buy:last-child {
    border: 0;
}


.navigation .dropdown .navigation-btn {
    height: 100%;
    width: 100%;
}

.navigation .dropdown-content {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px 24px;
    position: static;
    width: 100%;
    background-color: rgba(40, 131, 140, 1);
    z-index: 1;
}

.navigation .dropdown:hover .dropdown-content {
    display: flex;
}

.navigation #contacts-btn {
    border: 0px;
}

.navigation #tobeclient-btn {

    font-size: 16px;
    line-height: 16px;
}