.paidservices::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: url("../images/services-back-green.svg");
    background-size: cover;
    z-index: -1;
}

.paidservices {
    padding-top: 80px;
    position: relative;
    width: 100%;
    height: 100%;
}


.services {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    align-items: stretch;
}

.service-item {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    border-radius: 32px;
    padding: 32px 16px;
    width: 100%;
    height: 320px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-item .icon {
    margin-top: auto;
    justify-self: end;
    display: flex;
}

.service-item img {
    height: 96px;
    width: 96px;
    z-index: 2;
}

.service-item p {
    font-family: Calibri;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

.service-item button {
    cursor: pointer;
    border-radius: 32px;
    padding: 16px 40px;

    background-color: transparent;
    border: 3px solid rgba(247, 164, 32, 1);

    font-family: Akrobat;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.circle {
    position: absolute;
    height: 96px;
    width: 96px;
    transform: translateX(-16px);
    background-color: rgba(242, 247, 247, 1);
    border-radius: 50%;
}

.services-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 80px;
}